@import 'tailwindcss';

@theme {
    --font-sans: 'Nunito', sans-serif;
}

@layer utilities {
    body,
    html {
        font-family: var(--font-sans);
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    body {
        font-size: 1.05em;
    }
}

:root {
    --color-primary: #563bed;
    --color-secondary: #cb34e9;
}